body {
    background-color:#183152;
    color: #E1E6FA;
}

a {
    color: #183152
}

.projectslink {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
  
}

h1 {
    justify-content: center;
    text-align: center;
}

div.card {
    background-color: #C4D7ED;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 80px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);

}

div.finalMsg {
    background-color: #ABC8E2;
    width: auto;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
    margin-top: 0;
    margin: 50px;
    color: #C4D7ED;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

div#faltaProjetos {
    margin-top: 0;
}

@media (max-width: 700px) {
    div.card {
        margin: 7px;
    }
}